<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"> 
  
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="main" id="News_Feed"></div>
        {{ partial "recent_posts.html" . }}

        <div class="main" id="SeeMore"></div>
        {{ partial "see_more.html" . }}
        
        <div class="main" id="Team_Members"></div>
        {{ partial "testimonials.html" . }}
       
        <div class="main" id="Features"></div>
        {{ partial "features.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script type="text/javascript" src="/js/carousel.js"></script>
    <link rel="stylesheet" href="/css/carousel.css">
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <link rel="stylesheet" href="/css/lightbox.css">
    {{ partial "consent.html" . }}
  </body>
</html>

