{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2><a href="{{ .Site.Params.testimonials.href }}">{{ .Site.Params.testimonials.title }}</a></h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <ul class="owl-carousel testimonials same-height-row"
                    data-items="{{ default 4 .Site.Params.CarouselTestimonials.items }}"
                    data-autoplay="{{ default false .Site.Params.CarouselTestimonials.auto_play }}"
                    data-slide-speed="{{ default 2000 .Site.Params.CarouselTestimonials.slide_speed }}"
                    data-pagination-speed="{{ default 1000 .Site.Params.CarouselTestimonials.pagination_speed }}">
                    {{ range .Site.Data.testimonials }}
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>{{ .text | markdownify }}</p>
                            </div>
                            <div class="bottom">
                                <!--  <div class="icon"><i class="fas fa-quote-left"></i>-->
                                    <div>
                                        <img class="img" alt="" src="{{ .logo | absURL }}"></i>
                                    </div>
                                <div class="name-picture">
                                    <a href="{{ .url}}"><img class="" alt="" src="{{ .avatar | absURL }}"></a>
                                    <h5><a href="{{ .url}}">{{ .name }}</a></h5>
                                    <p>{{ .position }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
