/* your styles go here */

img[src$='#center'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 33%;
    height: auto;
    float: left;
    padding: 0 20px 20px 0;
  }


  img[src$='#fullwidth'] {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
    float: left;
    padding: 0 20px 20px 0;
  }

html {
    scroll-behavior: smooth;
   }
   
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}


